.card-product-search-popover {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    padding: 8px 16px;
}
.card-product-search-popover__image {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
}
.card-product-search-popover__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-product-search-popover__content {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 16px;
}
.card-product-search-popover__name {
    flex: 1;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-text);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-product-search-popover__link {
    color: currentColor;
    text-decoration: none;
}
.card-product-search-popover__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}