.form {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    max-width: 540px;
}
.form__fields {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
}
.form__field {
    position: relative;
}
.form__label {}
.form__input {
    width: 100%;
    height: 36px;
    padding: 0 12px;
    outline: none;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-s);
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    transition: var(--speed-transition);
    &::placeholder {
        color: #bfbfbf;
        opacity: 1;
    }
    &:hover {
        border-color: var(--color-border-hover);
    }
    &:active {
        border-color: var(--color-border-active);
    }
    &:focus {
        border-color: var(--color-border-focus);
    }
    &:disabled,
    &:disabled:hover {
        opacity: .4;
        border-color: var(--color-border);
        &::placeholder {
            color: rgba(191, 191, 191, 0.60);
        }
        + .form__counter-entered-characters {
            display: none;
        }
    }
}
.form__input-wrapper {
    position: relative;
}
