.price {}
.price__value-wrapper {
    display: flex;
    align-items: baseline;
    grid-gap: 2px;
    white-space: nowrap;
}
.price__value {}
.price__suffix {}

.price_size_l .price__value {
    font-size: 16px;
}
.price_size_m .price__value {
    font-size: 14px;
}
.price_size_s .price__value {
    font-size: 12px;
}

.price_direction_x {
    display: flex;
    align-items: baseline;
    grid-gap: 4px;

}
.price_direction_y {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    grid-gap: 4px;
}

.price-current {
    color: #000000;
}
.price-current .price__value {
    font-weight: 700;
}
.price-specoffer {
    color: #e11515;
}
.price-specoffer .price__value {
    font-weight: 700;
}
.price-factory {
    color: #989898;
}
.price-old {
    position: relative;
    color: #9c9fa3;
}
.price-old::before {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    bottom: 0;
    left: -3px;
    margin: auto;
    height: 1px;
    background-color: #9c9fa3;
}
.price-promocode {
    color: green;
}
.price-installment-plan {
    color: #a09e9b;
}
